<!DOCTYPE html>
<html lang="en">

<!-- LLAMO AL HEAD DE PARTIALS-->

<%- include('../partials/head', { title: 'Modificar producto'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

 
    <main>
        
        <!-- FORMULARIO PARA MODIFICAR EL PRODUCTO -->

        <div class="register-container">

              <!-- TITULO DEL REGISTRO-->
              
              
              <form action="../products/edit?_method=PUT" method="POST">

                <div class="registration-title"> Modificá los datos del producto</div>
              
                <!-- CAMPOS A MODIFICAR DEL NOMBRE DEL PRODUCTO, DESCRIPCION E IMAGEN -->
              
                <div class="field">
                  <label for="productName">Nombre del producto:</label>
                  <input type="text" name="productName" id="productName" required minlenght="1" value="Viene por parámetro body campo productName" class="input">
                </div>
              
              
                <div class="field">
                  <label for="productDescription">Descripción:</label>
                  <textarea name="productDescription" id="productDescription" required minlenght="1" value="jajajaja" class="input"></textarea> 
                </div>
              
              
                <div class="field">
                  <label for="productFile">Imagen del producto:</label>
                  <input type="file" name="productFile" id="productFile"  class="input">
                </div>
              
              
                 <!-- CAMPOS A COMPLETAR DE LA CATEGORIA DEL PRODUCTO, TIPO DE PRECIO, PRECIO Y DESCUENTO -->
              
                <div class="field">
                  <label for="productCategory">Categoría de productos</label>
                  <select name="productCategory" required class="input" >
                    <option disabled hidden selected >Seleccionar categoría</option>
                    <option value="C">Autos</option>
                    <option value="SR">Techos solares</option>
                    <option value="SP">Paneles solares</option>
                  </select>
                </div> 
                
                <div class="field">
                  <label for="productStatus" class="form-label">Estado del producto</label>
                  <select name="productStatus" id="productStatus" required class="input">
                    <option disabled hidden selected>Seleccionar estado del producto</option>
                    <option value="in-sale">En oferta</option>
                    <option value="last-visited">Últimos visitados</option>
                  </select>
                </div>

                
                <div class="field">
                  <label for="productPrice">Precio</label>
                  <input type="number" step="0.01" name="productPrice" id="productPrice" required value="00.00" class="input">     
                </div>

                <div class="field">
                  <label for="productDiscount">Descuento: </label>
                  <input type="number" step="0.01" name="productDiscount" id="productDiscount" required class="input">     
                </div>
              
              
                 <!-- BOTONES PARA INGRESAR Y CANCELAR REGISTRO -->
                
                 <div class="login-cancel-button">

                  <button type="submit" required class="registration-button">Ingresar</button>
              
                  <button type="reset" required class="registration-button">Cancelar</button>
                
                 </div>
                
                  
              </form>
        
        </div>
         
    </main>
   
    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 

    
</body>

</html>