<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles.css" rel="stylesheet">

    <!--fuente principal-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <!--fontawesom-->
    <script src="https://kit.fontawesome.com/449719d5ec.js" crossorigin="anonymous"></script>

    <title>Document</title>

</head>

<body>

    <header>

        <div class="logo-nav">

           

            <img class="logo" src="/images/logo-afmj01.png" alt="logo-afmj">

            <nav class="nav-bar">

                <ul class="main-nav-bar">
                    <li class="user"><a href=""> Usuario </a> </li>
                    <li class="buys"><a href=""> Compras </a></li>
                    <li class="news"><a href=""> Novedades </a></li>
                </ul>
                

            </nav>

            <div class="hamburguer-bar">
                <i class="fas fa-caret-square-down"></i>
            </div>

        </div>

        <div class="search-bar">

            <form action="busqueda.html" method="post" class="searching"> 
             
                <input class="search" type="text" name="Search" placeholder="Busqueda" required> 
                <input type="submit" value="Ir"> 
            
            </form> 

        </div> 

        


    </header>

    <div class="banner">

     <img  src="/images/banner-afmj01.png" alt="banner">

    </div>

    <main>

        <p class="info"> <i class="hoja fas fa-leaf"></i> Productos con impacto positivo <i class="bateria fas fa-battery-three-quarters"></i></p>

        <h2>Nuestros productos</h2>
        

        <section class="nuestros-productos">

            <article class="product">

                <p class="modelo">Modelo Y</p>

                <img src="/images/productos/tesla-model-y-2021-1.jpg" alt="producto1">
                <div class="precio-oferta"><p class="precio">$1000000</p><p class="oferta">%15 off</p></div>

                

            </article>

            <article class="product">

                <p class="modelo">Modelo S</p>

                <img src="/images/productos/tesla-modelo-s.jpg" alt="producto2">
                <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
            </article>

        </section>
        
        <section class="nuestros-productos">

            <article class="product">

                <p class="modelo">Modelo X</p>

                <img style="width: 94%;" src="/images/productos/tesla-model-x-9.jpg" alt="producto1">
                <div class="precio-oferta"><p class="precio">$1000000</p><p class="oferta">%15 off</p></div>

                

            </article>

            <article class="product">

                <p class="modelo">Roadster</p>

                <img src="/images/productos/tesla-roadster.jpg" alt="producto2">
                <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
            </article>

        </section>
        
    <div class="corte"> </div>
        <h2>Productos destacados</h2>
        

        <section class="productos-destacados">

            <article class="product">

                <p class="modelo">Futurist</p>

                <img src="images/productos/black-futuristic-electric-car-on-600w-1751940281.webp" alt="producto1">
                <div class="precio-oferta"><p class="precio">$1000000</p><p class="oferta">%15 off</p></div>

                

            </article>

            <article class="product">

                <p class="modelo">Poland</p>

                <img style="width: 98%;" src="/images/productos/wroclaw-poland-may-6-2020-600w-1730104534.webp" alt="producto2">
                <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
            </article>

        </section>
        <section class="productos-destacados">

            <article class="product">

                <p class="modelo">Cybertrack</p>

                <img src="/images/productos/tesla-limpiaparabrisas-laser-cybertruck_1440x655c.jpg" alt="producto1">
                <div class="precio-oferta"><p class="precio">$1000000</p><p class="oferta">%15 off</p></div>

                

            </article>

            <article class="product">

                <p class="modelo">Modelo 3</p>

                <img style="width: 97%;" src="/images/productos/tesla-model-3-01.jpg" alt="producto2">
                <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
            </article>

        </section>

        



        

    </main>


    <footer>


        <div class="texto-footer">
            <i class="item-1 fab fa-pagelines"></i> <p class="info-footer">Lorem ipsum dolor sit amet, elit. Minus, quibusdam culpa quae ad ab numquam?</p>
        </div>
            
        <div class="texto-footer">
            <i class=" item-2 fas fa-solar-panel"></i><p class="info-footer">Lorem ipsum dolor sit amet, elit. Minus, quibusdam culpa quae ad ab numquam?</p>
        </div>
        <div class="texto-footer">
            <i class="item-3 fas fa-battery-full"></i><p class="info-footer">Lorem ipsum dolor sit amet, elit. Minus, quibusdam culpa quae ad ab numquam?</p>
        </div>

        <p class="copy">Copyright 2021..</p>



    </footer>


    
</body>

</html>