<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles.css" rel="stylesheet">

    <!--fuente principal-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <!--fontawesom-->
    <script src="https://kit.fontawesome.com/449719d5ec.js" crossorigin="anonymous"></script>

    <title>Document</title>

</head>

<body>

    <header>

        <div class="barra-general">
        <div class="logo-nav">

           

            <img class="logo" src="/images/logo-afmj01.png" alt="logo-afmj">

            <nav class="nav-bar">

                <ul class="main-nav-bar">
                    <li class="user"><a href=""> Usuario </a> </li>
                    <li class="news"><a href=""> Registro </a></li>
                    <li class="buys"><a href=""> Carrito </a></li>
                </ul>
                

            </nav>

            <div class="hamburguer-bar">
                <i class="fas fa-caret-square-down"></i>
            </div>

        </div>

        <div class="search-bar">

            <form action="busqueda.html" method="post" class="searching"> 
             
                <input class="search" type="text" name="Search" placeholder="Busqueda" required> 
                <input type="submit" value="Ir"> 
            
            </form> 

        </div> 

    </div>


    </header>

    <div class="banner">

     <img  src="/images/banner-afmj01.png" alt="banner">

    </div>

    <main>

        <p class="info"> <i class="hoja fas fa-leaf"></i> Productos con impacto positivo <i class="bateria fas fa-battery-three-quarters"></i></p>

        <h2>Nuestros productos</h2>
        
        <div class="caja-1">

        <section class="nuestros-productos">

            <article class="product">

                <p class="modelo">Mini-Dron PG2021 HQ</p>

                <img src="/images/productos/mini-dron.webp" alt="producto1">
                <div class="precio-oferta"><p class="precio">$98000</p><p class="oferta">%15 off</p></div>x`  

            </article>

            <article class="product">

                <p class="modelo">Paneles Solares</p>

                <img  src="/images/productos/panel-solar.jpg" alt="producto1">
                <div class="precio-oferta"><p class="precio">$65000</p><p class="oferta">%15 off</p></div>

                

            </article>

            

        </section>
        
        <section class="nuestros-productos">
             
            <article class="product">

                <p class="modelo">Bicicleta Electrica</p>

                <img src="/images/productos/bici-elec-1.webp" alt="producto2">
                <div class="precio-oferta"><p class="precio">$85000</p><p class="oferta">%10 off</p></div>
            </article>
            

            <article class="product">

                <p class="modelo">Solar Led</p>

                <img src="/images/productos/led-solar.webp" alt="producto1">
                <div class="precio-oferta"><p class="precio">$1000000</p><p class="oferta">%15 off</p></div>

                

            </article>

            

        </section>
    
    </div>

    <div class="corte"> </div>

        <h2>Autos Electricos</h2>
        
        <div class="caja-2">

            <section class="productos-destacados">
    
                <article class="product">
    
                    <p class="modelo">Roadster</p>
    
                    <img src="/images/productos/Roadster_01.jfif" alt="producto1">
                    <div class="precio-oferta"><p class="precio">$1000000</p><p class="oferta">%15 off</p></div>
    
                    
    
                </article>
    
                <article class="product">
    
                    <p class="modelo">CyberTruck</p>
    
                    <img src="images/productos/Cybertruck_01.jfif" alt="producto2">
                    <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
                </article>
    
               
    
            </section>
            <section class="productos-destacados">
    
                <article class="product">
    
                    <p class="modelo">Mini-Dron PG2021 HQ</p>
    
                    <img src="/images/productos/mini-dron.webp" alt="producto2">
                    <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
                </article>
    
                
    
                <article class="product">
    
                    <p class="wall-conector">Wall Conector<p>
    
                    <img src="/images/productos/wall-conector.jpg" alt="producto2">
                    <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
                </article>
    
            </section>
        </div>
            
        


        <div class="corte"> </div>
        <h2>Productos destacados</h2>
        
        <div class="caja-3">

        <section class="productos-destacados">

            <article class="product">

                <p class="modelo">Roadster</p>

                <img src="/images/productos/Roadster_01.jfif" alt="producto1">
                <div class="precio-oferta"><p class="precio">$1000000</p><p class="oferta">%15 off</p></div>

                

            </article>

            <article class="product">

                <p class="modelo">CyberTruck</p>

                <img src="images/productos/Cybertruck_01.jfif" alt="producto2">
                <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
            </article>

           

        </section>
        <section class="productos-destacados">

            <article class="product">

                <p class="modelo">Mini-Dron PG2021 HQ</p>

                <img src="/images/productos/mini-dron.webp" alt="producto2">
                <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
            </article>

            

            <article class="product">

                <p class="wall-conector">Wall Conector<p>

                <img src="/images/productos/wall-conector.jpg" alt="producto2">
                <div class="precio-oferta"><p class="precio">$1800000</p><p class="oferta">%10 off</p></div>
            </article>

        </section>
    </div>
        

        



        

    </main>


    <footer>

        <div class="footer-desk">


        <div class="texto-footer">
            <i class="item-1 fab fa-pagelines"></i> <p class="info-footer">Elijenos siempre por nuestro compromiso con el impacto ambiental, unete para obtener mas beneficios!</p>
        </div>
            
        <div class="texto-footer">
            <i class=" item-2 fas fa-solar-panel"></i><p class="info-footer">Conoce nuestros medios de pago disponibles</p>
        </div>
        <div class="texto-footer">
            <i class="item-3 fas fa-battery-full"></i><p class="info-footer">Ahorrate tiempo y energia, te lo llevamos a tu casa. Sigue tu envio desde aqui!</p>
        </div>

        </div>

        <p class="copy">Copyright 2021.. Productos AFMJ el futuro es nuestro. Grupo 11</p>




    </footer>


    
</body>

</html>