<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles-login.css" rel="stylesheet">

    <!--fuente principal-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <!--fontawesom-->
    <script src="https://kit.fontawesome.com/449719d5ec.js" crossorigin="anonymous"></script>

    <title>Document</title>

</head>

<body>

    <header>

        <div class="barra-general">
            <div class="logo-nav">

            

                <img class="logo" src="/images/logo-afmj01.png" alt="logo-afmj">

                <nav class="nav-bar">

                    <ul class="main-nav-bar">
                        <li class="user"><a href=""> Usuario </a> </li>
                        <li class="news"><a href=""> Registro </a></li>
                        <li class="buys"><a href=""> Carrito </a></li>
                    </ul>


                </nav>

                <div class="hamburguer-bar">
                    <i class="fas fa-caret-square-down"></i>
                </div>

            </div>

            <div class="search-bar">

                <form action="busqueda.html" method="post" class="searching"> 
                
                    <input class="search" type="text" name="Search" placeholder="Busqueda" required> 
                    <input type="submit" value="Ir"> 
                
                </form> 

            </div> 

        </div>


    </header>

    <div class="banner">

     <img  src="/images/banner-afmj01.png" alt="banner">

    </div>

   

    <main>
        
      <!-- FORMULARIO DE LOGIN -->

      <!-- TITULO DEL LOGIN-->

      <form action="/login.html" method="POST" class="create-formularie">

            <h3 class="login-title"> Login de mi cuenta</h3>
      
      <!--  CAMPOS A COMPLETAR DEL NOMBRE USUARIO, PASSWORD  -->

            <div class="field">
                <label for="user-name">Nombre de usuario:</label>
                <input type="text" name="user-name" id="user-name" minlength="1" required class="input">
            </div>
        
            <div class="field">
                <label for="user-password">Contraseña:</label>
                <input type="password" name="user-password" id="user-password" required class="input">
            </div>

            <!-- BOTONES PARA INGRESAR Y CANCELAR -->
        
            <button type="submit" class="login-button">Ingresar</button>
        
            <button type="reset" class="login-button">Cancelar</button>
        
            <!-- CAMPOS PARA RECORDAR USUARIO Y PASSWORD Y BOTONES DE OLVIDO 
            Y LINK A GENERAR USUARIO Y/O CONTRASEÑA--> 
            
            <div class="field">
                <label for="user-remember-password">Recordar mi usuario</label>
                <input type="checkbox" name="user-remember-password" value="user-remember-password">
            </div>


            <button type="submit" class="login-button">¿Olvidó su contraseña o usuario?</button>

            <button type="submit" class="login-button">Crear nueva contraseña o usuario</button>

      </form> 
      

    </main>


    <footer>

        <div class="footer-desk">


        <div class="texto-footer">
            <i class="item-1 fab fa-pagelines"></i> <p class="info-footer">Elijenos siempre por nuestro compromiso con el impacto ambiental, unete para obtener mas beneficios!</p>
        </div>
            
        <div class="texto-footer">
            <i class=" item-2 fas fa-solar-panel"></i><p class="info-footer">Conoce nuestros medios de pago disponibles</p>
        </div>
        <div class="texto-footer">
            <i class="item-3 fas fa-battery-full"></i><p class="info-footer">Ahorrate tiempo y energia, te lo llevamos a tu casa. Sigue tu envio desde aqui!</p>
        </div>

        </div>

        <p class="copy">Copyright 2021.. Productos AFMJ el futuro es nuestro. Grupo 11</p>




    </footer>
    
</body>

</html>