*{
    margin: 0;
    box-sizing: border-box;

}

/* CONFIGURACION DEL BODY, TITULOS Y TEMAS */

body{
    font-family: 'Quicksand', sans-serif;
   
}

h2{
    color: #f9f8f8;
    padding: 15px;
    font-weight: 300;
    text-align: left;
    font-size: 28px;

}

h4{
    color: #f9f8f8;
    padding: 5px;
}


/* CONFIGURACION DEL HEADER (NAVEGADOR, BARRA DE BUSQUEDA Y BANNER */

header{
    background-color: #f9f8f8;
   
}


a,li{
    list-style: none;
    text-decoration: none;
    color: #031926;
}

.main-nav-bar {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
    width: 100%;
}

.nav-bar{
    align-self: flex-end;
    width: 30%;
    display: none;
    font-weight: 800;
    font-size: 18px;
}

.search-bar{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}
.searching{
    display: flex;
    width: 100%;
    
}

.search{
    width: 100%;
    height: 25px;
    border-radius: 5px;
}
.user,.buys,.news{
    padding: 2px;
    margin-right: 3px;
}

.logo-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 50%;
}

.banner{
    margin: 0;
}

.banner img{
   width: 100%;

}

/* CONFIGURACION ICONO DE MENU */

.hamburguer-bar{
    
  align-self: center;
  color: #031926;
  max-width: 50px;
  border-radius:25%;
  text-align: center;
  font-size: 45px;
  padding: 3px;
  margin-right: 15px;
  
}

/* CONFIGURACION DEL MAIN */

main{
    background-color:#031926 ;
    margin-top: -8px;
}

.create-formularie {
  padding: 20px 15px;
  width: 100%;
  
}

.login-title {
  color: #f9f8f8;
  font-weight: 300;
  text-align: left;
  font-size: 24px;
  padding-bottom: 20px; 
  text-align: center;
  
}



label {
    color: #f9f8f8;
}

.field {
  margin: 10px 0px;
  
 
}


 .input {
  width: 100%; 
  margin: 8px 0px;
  padding: 8px 0px;
  font-size: 16px;
}


.login-button {
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0px;
  color: #721817;
  background-color: #f9f8f8;
}

/* CUANDO HAGO HOVER SOBRE LOS BOTONES DE INGRESAR, CANCELAR, OLVIDO DE CONTRASEÑA Y USUARIO, 
Y CREAR NUEVA CONTRASEÑA CAMBIAN DE FORMATO */
  


.login-button:hover  {
  color: #f9f8f8;
  background-color: #721817;
}



/* CONFIGURACION DE LOS ELEMENTOS DEL FOOTER */

footer{
    background-color: #f9f8f8;
    display:flex;
    flex-direction: column;
}

.info-footer{
    text-align: center;
    padding: 10px;
}

.item-1{
    padding: 3px;
    margin-top: 10px;
    color: rgb( 34, 200, 81);
    align-self: center;
    font-size: 40px;
}
.item-2{    
    padding: 3px;
    margin-top: 10px;
    color: #721817;
    align-self: center;
    font-size: 40px;

}
.item-3{    
    padding: 3px;
    margin-top: 10px;
    color: #031926;
    align-self: center;
    font-size: 40px;

}

.texto-footer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.copy{
    padding: 5px;
    margin-top: 10px;
}

 
a:hover {text-decoration: none; 
    color: var(--text-clr);    } 

.carrito{ color: var(--text-clr); 
   font-size: 1.5rem; } 

.main_cart { background: #fff; } 

.card { border: none; } 

.product_img img { min-width: 200px; 
   max-height: 200px; } 

.product_name { color: black; 
   font-size: 1.4rem; 
   text-transform: capitalize; 
   font-weight: 500; } 

.card-title p { 
   font-size: 0.9rem; 
   font-weight: 500; } 

.remove-and-wish p { font-size: 0.8rem; 
   margin-bottom: 0; } 

.price-money h3 { font-size: 1rem; 
   font-weight: 600;} 

.set_quantity { position: relative; } 

.set_quantity::after { content: "(Note, 1 piece)"; 
   width: auto; 
   height: auto; 
   text-align: center; 
   position: absolute; 
   bottom: -20px; 
   right: 1.5rem; 
   font-size: 0.8rem; } 

.page-link { line-height: 16px; 
   width: 45px; 
   font-size: 1rem; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   color: #031926; } 

.page-item input { line-height: 22px; 
   padding: 3px; 
   font-size: 15px; 
   display: flex; 
   justify-content: center; 
   align-items: center; 
   text-align: center; } 

.page-link:hover { text-decoration: none; 
   color: #031926; 
   outline: none !important; } 
   
.page-link:focus { box-shadow: none; } 

.price_indiv p { font-size: 1.1rem; } 

.fa-heart:hover { color: red; }


@media (min-width: 480px){


    .banner img{
        height: 35vw;
    }
    .nav-bar{
        display: block;
    }

    .hamburguer-bar{
        display: none;
    }

    .logo{
        width: 30%;
    }

    .nuestros-productos,.productos-destacados{
       flex-direction: row;
    }

    .product{
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
        padding: 12px;
    }


    .wall-conector{
        margin-bottom: 19px;
    }
}

@media (min-width: 768px){
  
    .caja-1,.caja-2,.caja-3{
        display: flex;
    }

    .banner img{
        height: 29vw;
    }

    .logo{
        width: 25%;
    }
    .search-bar{
        width: 60%;
    }

    .info{
        font-size: 16px;
        font-weight: 600;
    }
    a{
        font-weight: 900;
        font-size: 20px;
    }

    h2{
        font-size: 28px;
        font-weight: 700;
    }

    .footer-desk{
        display: flex;
        flex-direction: row;
    }
    .texto-footer{
        margin-top: 30px;
        font-weight:800;
    }

    .copy{
        margin-top: 35px;
    }


   
}

@media (min-width:1200px){
    .banner img{
        height: 20vw;
    }

    .logo{
        width: 20%;
    }
    .search-bar{
        width: 50%;
        margin: 0 auto;
    }

    header {
        display: flex;
    }

    .barra-general{
        justify-content:space-around;
        width: 85%;
        margin: auto;
    }


}


