<header>

    <div class="barra-general">


        <div class="logo-nav">

            <img class="logo" src="/images/logo-afmj01.png" alt="logo-afmj">

            <nav class="nav-bar">

                <ul class="main-nav-bar">
                    <li class="user"><a class="text-nav-bar" href="../users/login">Usuario<i class="icon fas fa-user"></i> </a> </li>
                    <li class="news"><a class="text-nav-bar" href="../users/register">Registro<i class="icon fas fa-sign-in-alt"></i></a></li>
                    <li class="buys"><a class="text-nav-bar" href="../products/cart">Carrito<i class="icon fas fa-shopping-cart"></i></a></li>
                    <li class="buys"><a class="text-nav-bar" href="../products/list">Productos<i class="fas fa-clipboard-list"></i></a></li>
                    <li class="buys"><a class="text-nav-bar" href="../products/create">Crear<i class="fas fa-plus-square"></i></a></li>
                </ul>

            </nav>

            <div class="hamburguer-bar">
                <i class="fas fa-caret-square-down"></i>
            </div>

        </div>

        <div class="search-bar">

            <form action="busqueda.html" method="post" class="searching"> 
            
                <input class="search" type="text" name="Search" placeholder="Busqueda" required> 
                <input type="submit" value="Ir"> 
            
            </form> 

        </div> 

    </div>


</header>