<!DOCTYPE html>
<html lang="en">

<!-- LLAMO AL HEAD DE PARTIALS-->

<%- include('../partials/head', { title: 'Login de usuario'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

    
    <main>
        
      <!-- FORMULARIO DE LOGIN -->

      <!-- TITULO DEL LOGIN-->

      <form action="../users/login" method="POST" class="create-formularie">

            <h3 class="login-title"> Coloca tus datos para ingresar</h3>
      
      <!--  CAMPOS A COMPLETAR DEL NOMBRE USUARIO, PASSWORD  -->

            <div class="field">
                <label for="user-name">Nombre de usuario:</label>
                <input type="text" name="user-name" id="user-name" minlength="1" required class="input">
            </div>
        
            <div class="field">
                <label for="user-password">Contraseña:</label>
                <input type="password" name="user-password" id="user-password" required class="input">
            </div>

            <!-- BOTONES PARA INGRESAR Y CANCELAR -->
            <div class="buttons-login">
                <button type="submit" class="login-button">Ingresar</button>
            
                <button type="reset" class="login-button">Cancelar</button>

            </div>
        
            <!-- CAMPOS PARA RECORDAR USUARIO Y PASSWORD Y BOTONES DE OLVIDO 
            Y LINK A GENERAR USUARIO Y/O CONTRASEÑA--> 
            
            <div class="field check">
                <label for="user-remember-password">Recordar mi usuario</label>
                <input type="checkbox" name="user-remember-password" value="user-remember-password">
            </div>

            <div class="buttons-login">
                <button type="submit" class="login-button">¿Olvidó su contraseña o usuario?</button>

                <button type="submit" class="login-button">Crear nueva contraseña o usuario</button>
            </div>
      </form> 
      

    </main>

     <!-- LLAMO AL FOOTER DE PARTIALS-->

     <%- include('../partials/footer') %> 

   

    
</body>

</html>