<!DOCTYPE html>
<html lang="en">

    <!-- LLAMO AL HEAD DE PARTIALS-->

    <%- include('../partials/head', { title: 'Creación de usuario'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

 
    <main>
        
        <!-- FORMULARIO DE REGISTRACION -->

        <div class="register-container">

              <!-- TITULO DEL REGISTRO-->

              <div class="field check">
                <label>¿Ya estás registrado? 
                  <button type="submit" class="registration-button">Iniciar sesión</button>
                </label>
             </div>
              
              
              <form action="../users/register" method="POST">

                <div class="registration-title"> Ingresá tus datos para crear tu cuenta</div>
              
                <!-- CAMPOS A COMPLETAR DEL NOMBRE DE USUARIO, NOMBRE Y APELLIDO -->
              
                <div class="field">
                  <label for="userLoginName">Nombre de usuario:</label>
                  <input type="text" name="userLoginName" id="userLoginName" required minlenght="1" class="input">
                </div>
              
              
                <div class="field">
                  <label for="userName">Nombre:</label>
                  <input type="text" name="userName" id="userName" required minlenght="1" class="input">
                </div>
              
              
                <div class="field">
                  <label for="userSurname">Apellido:</label>
                  <input type="text" name="userSurname" id="userSurname" required  minlenght="1" class="input">
                </div>
              
              
                <!-- CAMPOS A COMPLETAR DEL SEXO, FECHA DE NACIMIENTO Y E-MAIL -->
              
                <div class="field">
                  <label for="userSex">Sexo:</label>
                  <select name="userSex" class="input" >
                    <option disabled hidden selected>Seleccionar sexo</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                    <option value="X">No Binario</option>
                  </select>
                </div> 
                
                
                <div class="field">
                  <label for="userBirthDate">Fecha de nacimiento </label>
                  <input type="date" name="userBirthDate" id="userBirthDate" required class="input">     
                </div>
              
                <div class="field">
                  <label for="userEmail">Correo electrónico:</label>
                  <input type="email" name="userEmail" id="userEmail" required class="input" >
                </div>
              
              
                <!-- CAMPOS A COMPLETAR DE CONTRASEÑA Y REPETIR CONTRASEÑA -->
              
                <div class="field">
                  <label for="userPassword">Contraseña:</label>
                  <input type="password" name="userPassword" id="userPassword" required  minlenght="1" class="input">
                </div>
              
                <div class="field">
                  <label for="userRepeatPassword">Repetir contraseña:</label>
                  <input type="password" name="userRepeatPassword" id="userRepeatPassword" required  minlenght="1" class="input">
                </div>
                
                 <!-- CAMPOS DE ACEPTAR TERMINOS DE PRIVACIDAD Y SOLICITAR NOVEDADES DE PRODUCTOS -->
              
                 <div class="field">
                    <label>
                      <input type="checkbox" name="terminos" required value="terminos">
                      Leí y acepto los términos y condiciones y la política de privacidad.
                    </label>
                 </div>
              
                
                 <div class="field">
                    <label>
                      <input type="checkbox" name="novedades" value="novedades">
                      Me gustaría recibir novedades sobre los productos.
                    </label>
                 </div>
              
                 <!-- BOTONES PARA INGRESAR Y CANCELAR REGISTRO -->
                
                 <div class="login-cancel-button">

                  <button type="submit" required class="registration-button">Ingresar</button>
              
                  <button type="reset" required class="registration-button">Cancelar</button>
                
                 </div>
                
                 <!-- MENU INICIAR SESION SI ESTOY REGISTRADO  -->
              
                 
                
              </form>
        
        </div>
         
    </main>
   
    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 

    
</body>

</html>