<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/styles-register.css" rel="stylesheet">

    <!--fuente principal-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <!--fontawesom-->
    <script src="https://kit.fontawesome.com/449719d5ec.js" crossorigin="anonymous"></script>

    <title>Document</title>

</head>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

 
    <main>
        
        <!-- FORMULARIO DE REGISTRACION -->

        <div class="register-container">

              <!-- TITULO DEL REGISTRO-->
              
              
              <form action="/register" method="POST">

                <div class="registration-title"> Ingresá tus datos para crear tu cuenta</div>
              
                <!-- CAMPOS A COMPLETAR DEL NOMBRE DE USUARIO, NOMBRE Y APELLIDO -->
              
                <div class="field">
                  <label for="user-login-name">Nombre de usuario:</label>
                  <input type="text" name="user-login-name" id="user-login-name" required minlenght="1" class="input">
                </div>
              
              
                <div class="field">
                  <label for="user-name">Nombre:</label>
                  <input type="text" name="user-name" id="user-name" required minlenght="1" class="input">
                </div>
              
              
                <div class="field">
                  <label for="user-surname">Apellido:</label>
                  <input type="text" name="user-surname" id="user-surname" required  minlenght="1" class="input">
                </div>
              
              
                <!-- CAMPOS A COMPLETAR DEL SEXO, FECHA DE NACIMIENTO Y E-MAIL -->
              
                <div class="field">
                  <label for="user-sex">Sexo:</label>
                  <select name="user-sex" class="input" >
                    <option disabled hidden selected>Seleccionar sexo</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                    <option value="X">No Binario</option>
                  </select>
                </div> 
                
                
                <div class="field">
                  <label for="user-birth-date">Fecha de nacimiento </label>
                  <input type="date" name="user-birth-date" id="user-birth-date" required class="input">     
                </div>
              
                <div class="field">
                  <label for="user-email">Correo electrónico:</label>
                  <input type="email" name="user-email" id="user-email" required class="input" >
                </div>
              
              
                <!-- CAMPOS A COMPLETAR DE CONTRASEÑA Y REPETIR CONTRASEÑA -->
              
                <div class="field">
                  <label for="user-password">Contraseña:</label>
                  <input type="password" name="user-password" id="user-password" required  minlenght="1" class="input">
                </div>
              
                <div class="field">
                  <label for="user-repeat-password">Repetir contraseña:</label>
                  <input type="password" name="user-repeat-password" id="user-repeat-password" required  minlenght="1" class="input">
                </div>
                
                 <!-- CAMPOS DE ACEPTAR TERMINOS DE PRIVACIDAD Y SOLICITAR NOVEDADES DE PRODUCTOS -->
              
                 <div class="field">
                    <label>
                      <input type="checkbox" name="terminos" required value="terminos">
                      Leí y acepto los términos y condiciones y la política de privacidad.
                    </label>
                 </div>
              
                
                 <div class="field">
                    <label>
                      <input type="checkbox" name="novedades" value="novedades">
                      Me gustaría recibir novedades sobre los productos.
                    </label>
                 </div>
              
                 <!-- BOTONES PARA INGRESAR Y CANCELAR REGISTRO -->
                
                 <div class="login-cancel-button">

                  <button type="submit" required class="registration-button">Ingresar</button>
              
                  <button type="reset" required class="registration-button">Cancelar</button>
                
                 </div>
                
                 <!-- MENU INICIAR SESION SI ESTOY REGISTRADO  -->
              
                 <div class="field">
                    <label>¿Ya estás registrado? 
                      <button type="submit" class="registration-button">Iniciar sesión</button>
                    </label>
                 </div>
                
              </form>
        
        </div>
         
    </main>
   
    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 

    
</body>

</html>