<!DOCTYPE html>
<html lang="en">

    <!-- LLAMO AL HEAD DE PARTIALS-->

    <%- include('../partials/head', { title: 'Creación de usuario'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

 
    <main>
        
        <!-- FORMULARIO DE REGISTRACION -->

        <div class="register-container">

              <!-- TITULO DEL REGISTRO-->

              <div class="field check">
                <label>¿Ya estás registrado? 
                  <button type="submit" class="registration-button"><a href="../users/login">Iniciar sesión</a></button>
                </label>
             </div>
              
              
              <form action="../users/register" method="POST" enctype="multipart/form-data">

                <div class="registration-title"> Ingresá tus datos para crear tu cuenta</div>
              
                <!-- CAMPOS A COMPLETAR DEL NOMBRE DE USUARIO, NOMBRE Y APELLIDO -->
              
                <div class="field">
                  <label for="userLogin">Nombre de usuario:</label>
                  <input type="text" name="userLogin" id="userLogin" required minlenght="1" class="input">
                </div>
              
              
                <div class="field">
                  <label for="name">Nombre:</label>
                  <input type="text" name="name" id="name" required minlenght="1" class="input">
                </div>
              
              
                <div class="field">
                  <label for="surname">Apellido:</label>
                  <input type="text" name="surname" id="surname" required  minlenght="1" class="input">
                </div>
              
              
                <!-- CAMPOS A COMPLETAR DEL SEXO, FECHA DE NACIMIENTO Y E-MAIL -->
              
                <div class="field">
                  <label for="sex">Sexo:</label>
                  <select name="sex" class="input" >
                    <option disabled hidden selected>Seleccionar sexo</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                    <option value="X">No Binario</option>
                  </select>
                </div> 
                
                
                <div class="field">
                  <label for="birthDate">Fecha de nacimiento </label>
                  <input type="date" name="birthDate" id="birthDate" required class="input">     
                </div>
              
                <div class="field">
                  <label for="email">Correo electrónico:</label>
                  <input type="email" name="email" id="email" required class="input" >
                </div>
              
              
                <!-- CAMPOS A COMPLETAR DE CONTRASEÑA Y REPETIR CONTRASEÑA E IMAGEN -->
              
                <div class="field">
                  <label for="password">Contraseña:</label>
                  <input type="password" name="password" id="password" required  minlenght="1" class="input">
                </div>
              
                <div class="field">
                  <label for="repeatPassword">Repetir contraseña:</label>
                  <input type="password" name="repeatPassword" id="repeatPassword" required  minlenght="1" class="input">
                </div>
                
                <div class="field">
                  <input type="file" name="newUserImage">
                </div>

                 
                 <!-- BOTONES PARA INGRESAR Y CANCELAR REGISTRO -->
                
                 <div class="login-cancel-button">

                  <button type="submit" required class="registration-button">Ingresar</button>
              
                  <button type="reset" required class="registration-button">Cancelar</button>
                
                 </div>
                
                 
                
              </form>
        
        </div>
         
    </main>
   
    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 

    
</body>

</html>